body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notification {
  font-size: 16px;
  background-color: aqua;
  color: blue;
  border: 10px;
  border-color:green;
  border-width: 10px;
  padding: 10px;
  border-spacing: 15px;
  margin: 10px;
}
